{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Relatório completo de competências por bloco.

    Classes necessárias para JS:
    * None

    Atributos de dados necessários para JS:
    * None

    Variáveis de contexto necessárias para este template:
    * hasplans
}}
<div class="block_lp_coursecategories">
{{#user}}
    <div class="lp-course-categories-full-report-category">
        <h3>{{#str}}profile_info_title, block_lp_coursecategories{{/str}}</h3>
        <table class="profile-info">
            <tr>
                <td class="profile-info-label">{{#str}}firstname{{/str}}</td>
                <td>{{firstname}} {{lastname}}</td>
                <td class="profile-info-label">{{#str}}cpf, block_lp_coursecategories{{/str}}</td>
                <td>{{cpf}}</td>
            </tr>
        </table>
    </div>
{{/user}}
{{#hasplans}}
    <div class="lp-course-categories-warp">
        <div class="collapsible-actions">
            <a href="javascript:" class="expandall">{{#str}}expandall{{/str}}</a>
            <a href="javascript:" class="collapseall hidden">{{#str}}collapseall{{/str}}</a>
        </div>
        {{#plancategories}}
            <div class="lp-course-categories-full-report-category">
                <div class="lp-course-categories-full-report-category-header">
                    <h3>
                        {{#str}}category, block_lp_coursecategories{{/str}}:
                        {{{categoryname}}}
                        <span class="label {{categorycompleteclass}}">{{categorycompletestring}}</span>
                    </h3>
                </div>

                <div id="collapsePlanCategory{{categoryid}}">
                {{#plans}}
                    <div class="lp-course-categories-full-report-course">
                        <div class="lp-course-categories-full-report-course-header collapsed" data-toggle="collapse" data-target="#collapsePlan{{courseid}}">
                            <h4>
                                {{#str}}course, block_lp_coursecategories{{/str}}
                                {{planindexincategory}}: {{{coursename}}}
                                <br />
                                <span class="label {{coursepassedclass}}">{{coursepassedstring}}</span>
                            </h4>
                            {{#showstatistics}}
                                {{#statistics}}
                                {{> tool_lp/course_competency_statistics}}
                                {{/statistics}}
                            {{/showstatistics}}
                        </div>

                        <div id="collapsePlan{{courseid}}" class="lp-course-categories-full-report-course-competencies collapse">
                            <p class="lp-course-categories-full-report-category-grey">
                                {{#str}} course_id_number, block_lp_coursecategories {{/str}}: {{courseidnumber}}
                            </p>
                            {{competenciescompletedstring}}
                            <br />
                            {{^distance}}
                                {{attendancestring}}
                            {{/distance}}
                            <!-- Competências -->
                            <div class="lp-course-categories-full-report-course-competencies-tree">
                                <ul>
                                {{#coursecompetencies}}
                                {{#competencies}}
                                    <li data-id="{{competency.id}}" class="clearfix">
                                        <span class="competency-name">
                                        {{#competency}}
                                            <a href="{{lpbaseurl}}user_competency_in_course.php?courseid={{courseid}}&competencyid={{competency.id}}&userid={{gradableuserid}}"
                                               id="competency-info-link-{{competency.id}}"
                                               title="{{#str}}viewdetails, tool_lp{{/str}}">
                                            {{competency.idnumber}}. {{{competency.description}}}
                                            </a>
                                        </span>
                                        {{/competency}}

                                        <span class="competency-grade">
                                        {{#usercompetencycourse}}
                                        {{#grade}}
                                            <span class="tag tag-info {{gradename}}">{{gradename}}</span>
                                        {{/grade}}
                                        {{/usercompetencycourse}}
                                        </span>
                                    </li>
                                {{/competencies}}
                                {{^competencies}}
                                <p class="alert alert-info">
                                    {{#str}}nocompetenciesincourse, tool_lp{{/str}}
                                </p>
                                {{/competencies}}
                                {{/coursecompetencies}}
                                {{^coursecompetencies}}
                                <p class="alert alert-info">
                                    {{#str}}nocompetenciesincourse, tool_lp{{/str}}
                                </p>
                                {{/coursecompetencies}}
                                </ul>
                            </div>
                            <!-- Tarefa -->
                            <div class="lp-course-categories-full-report-course-competencies-task">
                                <p>Grau para fins externos: {{externalgrade}}</p>
                                <p>
                                {{^coursemodules}}
                                {{/coursemodules}}
                                {{#coursemodules.0}}
                                    <span class="fa fa-info-circle" aria-hidden="true"></span>
                                    As competências desta disciplina são avaliadas em
                                {{/coursemodules.0}}
                                {{#coursemodules}}
                                    <a href="{{url}}" class="competency_activities_avaliable">{{name}}</a>{{^lastitem}}, {{/lastitem}}
                                {{/coursemodules}}
                                </p>
                            </div>
                        </div>
                    </div>
                {{/plans}}
                </div>
                <p class="lp-course-categories-full-report-category-grey">
                    {{#str}}category2_category_description, block_lp_coursecategories{{/str}}:
                    {{category2name}}
                </p>
            </div>
        {{/plancategories}}
    </div>    
{{/hasplans}}

{{#haselectiveplans}}
    <style>
        .container-table{
            margin-left: 20px;
            margin-right: 20px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }
        
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .center {
            text-align: center;
        }

        .right{
            text-align: right;
            padding-right: 20px;
            margin-top: 30px;
        }

        .opacity {
            opacity: 0.7;
        }

        .inline {
            display: inline !important;
        }

        .badge-green {
            background-color: #8BC34A;
            color: white;
            padding: 4px 8px;
            text-align: center;
            border-radius: 5px;
        }

        .badge-blue {
            background-color: #003F7A;
            color: white;
            padding: 4px 8px;
            text-align: center;
            border-radius: 5px;
        }

        .badge-red {
            background-color: #FF0000;
            color: white;
            padding: 4px 8px;
            text-align: center;
            border-radius: 5px;
        }
    </style>    
    <div class="lp-course-categories-warp">
        <div class="lp-course-categories-full-report-category">
            <div class="lp-course-categories-full-report-category-header">
                <h3 class="inline">
                    {{#str}}ele_title, block_lp_coursecategories{{/str}}                                      
                </h3>                 
            </div>
            <div class="container-table">
                <table>
                    <tr>
                        <th></th>
                        <th class="center">
                            {{#str}}status, block_lp_coursecategories{{/str}}
                        </th>
                        <th class="center">
                            {{#str}}data, block_lp_coursecategories{{/str}}
                        </th>
                        <th class="center">
                            {{#str}}credit_hours, block_lp_coursecategories{{/str}}
                        </th>
                    </tr>
                    {{#electiveplans}}
                        <tr>
                            <td>
                                <h4 class="opacity">{{coursename}}</h4>
                            </td>
                            <td class="center">
                                <span class="badge-{{statusbadge}}">{{status}}</span>
                            </td>
                            <td class="center">{{trimester}}</td>
                            <td class="center">
                                <b>{{finalgrade}}</b>
                            </td>
                        </tr>
                    {{/electiveplans}}                     
                </table>    
                {{#electivetotalhours}}
                    <h3 class="right">                        
                        {{#str}}total_hours, block_lp_coursecategories{{/str}}: {{electivetotalhours}} {{#str}}hours, block_lp_coursecategories{{/str}}.
                    </h3>                    
                {{/electivetotalhours}} 
            </div>
        </div>
    </div>    
{{/haselectiveplans}}

{{#hasreassessmentplans}}
    <style>
        .container-table{
            margin-left: 20px;
            margin-right: 20px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }
        
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .center {
            text-align: center;
        }

        .right{
            text-align: right;
            padding-right: 20px;
            margin-top: 30px;
        }

        .opacity {
            opacity: 0.7;
        }

        .inline {
            display: inline !important;
        }

        .badge-green {
            background-color: #8BC34A;
            color: white;
            padding: 4px 8px;
            text-align: center;
            border-radius: 5px;
        }

        .badge-blue {
            background-color: #003F7A;
            color: white;
            padding: 4px 8px;
            text-align: center;
            border-radius: 5px;
        }

        .badge-red {
            background-color: #FF0000;
            color: white;
            padding: 4px 8px;
            text-align: center;
            border-radius: 5px;
        }

        .course-title {
            display: flex;
            align-items: center; /* Vertically center the items */
            margin-bottom: 5px;  /* Adjust spacing as needed */
        }
        .coursename {
            font-size: 1.2em; 
        }

        /* Styles for the collapsible arrow */
        .toggle-arrow {
            cursor: pointer;
            display: inline-flex;
            margin-right: 5px;
            transition: transform 0.3s ease;            
        }

        /* Rotate the arrow when active */
        .toggle-arrow.open {
            transform: rotate(90deg);
        }

        /* Hide the competencies by default */
        .competency-container {
            display: none;
            overflow: hidden;
        }

        /* Animation class */
        .competency-container.animate {
            transition: max-height 0.3s ease;
        }

        /* Adjust the table inside the competencies */
        .competency-table {
            width: 100%;
            margin-top: 10px;
            border-collapse: collapse;
        }

        .competency-table td {
            padding: 4px;
            border-bottom: 1px solid #ddd;
        }

        .competency-table td.right {
            text-align: right;
        }

        .badge-grade {
            display: inline-block;
            padding: 2px 6px;
            background-color: #f0f0f0; /* Adjust color as needed */
            border-radius: 3px;
            font-weight: bold;
        }
    </style>    
    <div class="lp-course-categories-warp">
        <div class="lp-course-categories-full-report-category">
            <div class="lp-course-categories-full-report-category-header">
                <h3 class="inline">
                    {{#str}}at_title, block_lp_coursecategories{{/str}}                                      
                </h3>                 
            </div>
            <div class="container-table"> 
                <table>
                    <tr>
                        <th></th>
                        <th class="center">
                            {{#str}}status, block_lp_coursecategories{{/str}}
                        </th>
                        <th class="center">
                            {{#str}}data, block_lp_coursecategories{{/str}}
                        </th>                        
                    </tr>
                    {{#reassessment_plans_final}}
                        <tr>
                            <td>
                               <div class="course-title">
                                    <span class="toggle-arrow" data-target="competencies-{{courseid}}">
                                        <i class="icon fa fa-chevron-right" aria-hidden="true"></i>
                                    </span>
                                    <span class="coursename">{{coursename}}</span>
                                </div>
                                <div id="competencies-{{courseid}}" class="competency-container">
                                    <span style="color: #999;">Código da disciplina: {{courseidnumber}}</span>
                                    <table class="competency-table">
                                        {{#currentgrades}}
                                        <tr>
                                            <td>{{competencyname}}</td>
                                            <td class="right">
                                                <span class="badge-{{gradebadge}}">{{gradename}}</span>
                                            </td>
                                        </tr>
                                        {{/currentgrades}}
                                    </table>
                                    <p>Grau para fins externos: {{externalgrade}}</p>
                                    {{#assessment_assign}}
                                        <div style="margin-top:20px;">
                                            <span class="fa fa-info-circle" aria-hidden="true"></span>
                                            As competências desta disciplina são avaliadas em
                                            <a href="{{url}}" target="_blank" class="competency_activities_avaliable">{{assignname}}</a>
                                        </div>
                                    {{/assessment_assign}}
                                </div>
                            </td>
                            <td class="center">
                                <span class="badge-{{statusbadge}}">{{status}}</span>
                            </td>
                            <td class="center">{{trimester}}</td>                            
                        </tr>
                    {{/reassessment_plans_final}}                     
                </table>    
                {{#extensiontotalhours}}
                    <h3 class="right">                        
                        {{#str}}course_id_number, block_lp_coursecategories{{/str}}: {{extensiontotalhours}}.
                    </h3>                    
                {{/extensiontotalhours}} 
            </div>
        </div>
    </div>    
{{/hasreassessmentplans}}

{{^hasplans}}
    <p>{{#str}}sem_planos, block_lp_coursecategories{{/str}}</p>
{{/hasplans}}
</div>

{{#js}}
function getCollapsibleActionsAnchors() {
    return Array.from(
        document.querySelectorAll('.block_lp_coursecategories .collapsible-actions a')
    );
};

function collapsibleActionsToggle(event) {
    var selectors = [
        '.lp-course-categories-full-report-course-header'
    ];

    var selectorEnding = (event.target.classList.contains('expandall')) ? '.collapsed' : ':not(.collapsed)';

    for (var i = 0; i < selectors.length; i++) {
        selectors[i] += selectorEnding;
    }

    Array.from(document.querySelectorAll(selectors.join(', '))).forEach(header => header.click());

    getCollapsibleActionsAnchors().forEach(anchor => anchor.classList.toggle('hidden'));
};

function addCollapsibleActionsListener() {
    getCollapsibleActionsAnchors().forEach(anchor => anchor.onclick = collapsibleActionsToggle);
};

addCollapsibleActionsListener();
{{/js}}

{{#js}}
    require(['jquery'], function($) {
        $(document).ready(function() {
            $('.toggle-arrow').on('click', function() {
                var $arrow = $(this);
                var targetId = $arrow.data('target');
                var $competencyContainer = $('#' + targetId);

                // Toggle the open class on the arrow
                $arrow.toggleClass('open');

                // Toggle the competency container with animation
                $competencyContainer.slideToggle(300);
            });
        });
    });
{{/js}}